language: php

matrix:
  include:
    - php: 7.2
    - php: 7.3
      env: ANALYSIS='true'
    - php: 7.4
    - php: nightly

  allow_failures:
    - php: nightly

before_script:
  - customer-app/app/composer install -n
  - order-app/app/composer install -n

script:
  - customer-app/app/bin/phpunit
  - order-app/app/bin/phpunit

after_success:
  - bash <(curl -s https://codecov.io/bash)