language: php

matrix:
  include:
    - php: 7.3
      env: ANALYSIS='true'
    - php: 7.4
    - php: nightly

  allow_failures:
    - php: nightly

before_script:
  - cd customer-app/app && composer install -n && cd ../..
  - cd order-app/app && composer install -n && cd ../..

script:
  - cd customer-app/app && ./bin/phpunit && cd ../..
  - cd order-app/app && ./bin/phpunit && cd ../..

after_success:
  - bash <(curl -s https://codecov.io/bash)